body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #535353;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Layout {
  max-width: 375px;
  max-height: 812px;
  margin: auto;
  background: #fff;
  background-color: #17171c;
  box-shadow: 0 0 15px 5px #0000003b;
  border-radius: 10px;
}
